<div class="container">
    <h2>Child component</h2>
    <p>{{name}}</p>
    <h3>parent to child communication</h3>
    <p>The technoloy we are using is coming form parent with @input decorator - ---  <span style="font-weight: bold;" >{{technology}}</span>  </p>
</div>

<div class="container">
    <h2>Child component</h2>
    <p>{{name}}</p>
    <h3>parent to child communication</h3>
    <p>The technoloy we are using is coming form parent with @input decorator - ---  <span style="font-weight: bold;" >{{technology}}</span>  </p>
</div>





